<section class="card mt-4">
    <div class="card-body">
        <h1 class="text-center mb-4">About this page</h1>
        <p>This page was created as part of my studies. I used Node, Express and several other modules: Express
            Handlebars such as templates, bcryptjs to encrypt user passwords, flash-connect to administrator messages,
            override method to be able to use put and remove method of frontend and passport form to users' navigations.
        </p>
        <p>
            I have used MongoDB as the database, connecting it through Mongoose.
        </p>
        <p>
            For styles I have used Bootstrap 4 and font-awesome
        </p>
    </div>
</section>