<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDb</h1>
    <p class="lead">App to create notes with nodejs and mongodb, using express-handlebars and bootstrap</p>
    <hr class="my-4">
    <p>In this app you can create notes, as well as edit and remove them. Sign up and start to use it</p>
</div>