<div class="container">
    <div class="row bg-dark text-light">
    <div class="container footer">
        <div class="navbar navbar-fixed-bottom">
            <h5>Created by Alejandro Rebaldería</h5>
        </div>
    </div>
</div>
</div>